<div class="sc2iq-page">
  <header class="sc2iq-header">
    <nav class="sc2iq-navigation">
      {{#link-to "index.index" class="sc2iq-navigation__link" }}Home{{/link-to}}
      {{#link-to "index.test" class="sc2iq-navigation__link" }}Test{{/link-to}}
      {{#link-to "index.questions" class="sc2iq-navigation__link" }}Questions{{/link-to}}
      {{#link-to "index.polls" class="sc2iq-navigation__link" }}Polls{{/link-to}}
      {{#link-to "index.scores" class="sc2iq-navigation__link" }}Scores{{/link-to}}
    </nav>

    <p>
      <span>{{sessionAccount.user.name}}</span> <button type="button" {{action 'invalidateSession'}}>Logout</button>
    </p>
  </header>
  <div class="sc2iq-user-points">
    Votes: {{session.currentUser.votes}}
  </div>

  <div class="sc2iq-page__contents">
    {{outlet}}
  </div>

  <footer>
    {{#link-to "index.faqs" }}FAQs{{/link-to}}
    {{#link-to "index.contact" }}Contact{{/link-to}}
  </footer>
</div>
