<div class="sc2iq-page">
  <div class="sc2iq-page__header">
    <div class="container">
      <header class="sc2iq-header">
        <nav class="sc2iq-navigation">
          {{#link-to "index.index" class="sc2iq-navigation__link-home" }}
            <img src="/images/icon_home.png" alt="SC2IQ Home" />
          {{/link-to}}
          {{#link-to "index.test" class="sc2iq-navigation__link" }}
            <div class="sc2iq-navigation__link-image">
              <img src="/images/icon_test.png" alt="Test" />
            </div>
            <p class="sc2iq-navigation__link-text">Test</p>
          {{/link-to}}
          {{#link-to "index.questions" class="sc2iq-navigation__link" }}
            <div class="sc2iq-navigation__link-image">
              <img src="/images/icon_questions.png" alt="Test" />
            </div>
            <p class="sc2iq-navigation__link-text">Questions</p>
          {{/link-to}}
          {{#link-to "index.polls" class="sc2iq-navigation__link" }}
            <div class="sc2iq-navigation__link-image">
              <img src="/images/icon_scores.png" alt="Test" />
            </div>
            <p class="sc2iq-navigation__link-text">Polls</p>
          {{/link-to}}
          {{#link-to "index.scores" class="sc2iq-navigation__link" }}
            <div class="sc2iq-navigation__link-image">
              <img src="/images/icon_polls.png" alt="Test" />
            </div>
            <p class="sc2iq-navigation__link-text">Scores</p>
          {{/link-to}}
        </nav>

        {{#link-to "index.profile" sessionAccount.userAccount class="sc2iq-navigation__link-profile" }}
          <div class="sc2iq-navigation__link-profile-background" style="background: url('{{session.data.authenticated.profileImageUrl}}')">
            &nbsp;
          </div>
        {{/link-to}}

      </header>
    </div>
  </div>
  <div class="sc2iq-page__body">
    <div class="sc2iq-body">
      <div class="sc2iq-user-points">
        <div class="container container--column">
          <div class="sc2iq-user-stats">
            <div class="sc2iq-user-stats__range">
              <div class="sc2iq-user-stats-range">
                <div class="sc2iq-user-stats-range__minimum">
                    100
                </div>
                <div class="sc2iq-user-stats-range__meter">
                  <div class="sc2iq-user-stats-range__meter-value" style="width: 40%;">
                    400
                  </div>
                </div>
                <div class="sc2iq-user-stats-range__maximum">
                    1000 ({{sessionAccount.userAccount.pointsSpent}} / {{sessionAccount.userAccount.pointsEarned}})
                </div>
              </div>
            </div>
            <div class="sc2iq-user-stats__votes">
              <div class="sc2iq-user-stats-votes">
                Votes: 4 / 10
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="container container--column">
        <div class="sc2iq-main">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
