<ul class="list-inline">
  <li>{{#link-to "scores.me" class="sc2iq-button sc2iq-button--default"}}<span class="glyphicon glyphicon-user"></span> My Scores{{/link-to}}</li>
  <li>{{#link-to "scores.high" class="sc2iq-button sc2iq-button--default"}}<span class="glyphicon glyphicon-stats"></span> High Scores{{/link-to}}</li>
</ul>

{{outlet}}
