<div class="sc2iq-section">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation">{{#link-to "scores.me" }}<span class="glyphicon glyphicon-user"></span> My Scores{{/link-to}}</li>
      <li role="presentation">{{#link-to "scores.high" }}<span class="glyphicon glyphicon-stats"></span> High Scores{{/link-to}}</li>
    </ul>

    {{outlet}}
  </div>
</div>
