<div class="sc2iq-section sc2iq-section--question-form">
  {{sc2iq-question-form on-submit=(route-action "save")}}
</div>
<div class="sc2iq-section sc2iq-section--search">
  {{sc2iq-question-search on-submit=(route-action "search")}}
</div>

{{#each model as |question|}}
  {{sc2iq-question question=question}}
{{/each}}
