.sc2iq-question {
  border-top: 1px solid #cecece;
}
.sc2iq-question__trigger {
  cursor: pointer;
  padding: 1em 0;
}
.sc2iq-question__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
.sc2iq-question__answers {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.sc2iq-question__answers--open {
  max-height: 500px;
}
.sc2iq-question__answers-internal {
  border-top: 1px solid #cecece;
  padding: 1em 0;
}

.sc2iq-icon {
  transition: transform 0.5s ease-out; /* cubic-bezier(0, 0.6, 0.5, 0.8); */
}
.sc2iq-icon--rotate {
  transform: rotate(45deg);
}

.sc2iq-poll {
  border-top: 1px solid #cecece;
}
.sc2iq-poll__trigger {
  cursor: pointer;
  padding: 1em 0;
}
.sc2iq-poll__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
.sc2iq-poll__conent {
  border-top: 1px solid #f1f1f1;
  padding: 1em 0;
}


.sc2iq-question-form {

}
.sc2iq-question-form__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.sc2iq-question-form__content--open {
  max-height: 1000px;
}

.sc2iq-question-search {

}
.sc2iq-question-search__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.sc2iq-question-search__content--open {
  max-height: 1000px;
}

.input-group-range {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-group-range .input-group-addon {
    border: none;
}
.input-group-range .input-group-addon:first-child {
    border-right: 1px solid #ccc;
}
.input-group-range .input-group-addon:last-child {
    border-left: 1px solid #ccc;
}
.input-group-range .input-group-range-value {
    border-left: 1px solid #ccc;
    width: 3em;
}
.form-range{
    display: table-cell;
    margin: 0;
    width: 100%;
    height: 34px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid #cccccc;
}




.sc2iq-score {
  border-top: 1px solid #cccccc;
}
.sc2iq-score__trigger {
  cursor: pointer;
  padding: 1em 0;
}
.sc2iq-score__details {
  border-top: 1px solid #f1f1f1;
  padding: 1em 0;
}


.sc2iq-test {

}
.sc2iq-test__time {
  font-size: 2em;
}
.sc2iq-test__start-question {
  position: relative;
}
.sc2iq-test__start-question .panel > * {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.sc2iq-test__start-button {
  position: absolute;
  width: 20%;
  left: 50%;
  margin-left: -10%;
  height: 45px;
  top: 50%;
  margin-top: -22.5px;
}

.sc2iq-test__actions {
  margin: 1em 0;
}


.sc2iq-question-results__header {
  padding: 1em 0;
}
.sc2iq-question-results__footer {
  padding: 1em 0;
}

.sc2iq-question-result {
  border-top: 1px solid #cccccc;
}
.sc2iq-question-result__trigger {
  cursor: pointer;
  padding: 1em 0;
}
.sc2iq-question-result__details {
  border-top: 1px solid #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.sc2iq-question-result__details--open {
  max-height: 300px;
}
.sc2iq-question-result__details-inner {
  padding: 1em 0;
}
.sc2iq-question-result__details-graph {
  padding: 2em;
  border: 1px solid #ccc;
  background: #f1f1f1;
}
