

.sc2iq-question {
  border-top: 1px solid #cecece;
}
.sc2iq-question__trigger {
  cursor: pointer;
  padding: 1em 0;
}
.sc2iq-question__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}


.sc2iq-question__answers {
  border-top: 1px solid #f1f1f1;
  padding: 1em 0;
}

.sc2iq-icon {
  transition: transform 0.5s ease-out; /* cubic-bezier(0, 0.6, 0.5, 0.8); */
}
.sc2iq-icon--rotate {
  transform: rotate(45deg);
}
