<div class="sc2iq-login">
    <h1>Legacy of Void Banner</h1>

    <h2>Battlenet Logo</h2>

    <button type="button" {{action "authenticateWithBattlenet"}} class="sc2iq-battlenet-button">Log In</button>
</div>
