<div class="sc2iq-login">
    <img src="/images/Logo.png" alt="StarCraft 2 Intelligence Quotient Logo" class="sc2iq-login__banner"/>
    <img src="/images/bnet-default.png" alt="Battle.net" class="sc2iq-login__battlenet"/>

    <div class="sc2iq-login__button">
      <button type="button" {{action "authenticateWithBattlenet"}} class="sc2iq-battlenet-button">Log In</button>
    </div>
</div>
