<div class="sc2iq-section sc2iq-section--question-form">
  <div class="container">
    {{sc-question-form action="saveQuestion"}}
  </div>
</div>

<div class="sc2iq-section sc2iq-section--search">
  <div class="container">
    {{sc-question-search action="search"}}
  </div>
</div>

{{#each model as |question|}}
  <div class="container">
    {{sc-question question=question}}
  </div>
{{/each}}
