<div class="sc2iq-meter">
  <div class="sc2iq-meter__minimum">
    {{min}}
  </div>
  <div class="sc2iq-meter__guage">
    <div class="sc2iq-meter__guage-value" style="width: {{width}}">{{value}}</div>
  </div>
  <div class="sc2iq-meter__maximum">
    {{max}}
  </div>
</div>
