<h1>F.A.Q.s</h1>

<ul class="list-unstyled">
  <li>
    <div class="sc2iq-faq">
      <h2 class="sc2iq-faq__question">What is SC2IQ?</h2>
      <p class="sc2iq-faq__answer">
        SC2IQ stands for StarCraft 2 Intelligence Quotient.  It is an app which aims to allow the best community feedback to be heard by rewarding players with higher game IQ.
      </p>
    </div>
  </li>
  <li>
    <div class="sc2iq-faq">
      <h2 class="sc2iq-faq__question">How does the voting system work?</h2>
      <p class="sc2iq-faq__answer">
        You take the test to earn points.  With your points you are awarded votes. Then you use your votes to influence visibility of polls. The idea is that the more you know about the game the more you can influence the polls.
      </p>
    </div>
  </li>
  <li>
    <div class="sc2iq-faq">
      <h2 class="sc2iq-faq__question">How does the points system work?</h2>
      <p class="sc2iq-faq__answer">
        The test is timed to calculate the time spent on each question.  The shorter amount of time you spend on the question the more points you get.  This is to prevent people from just looking up the question on the internet.  Each qustion also has a difficulty rating which is a multiplier for the points.  The more difficult the question the greater the points meaning the test taker is rewarded even more more knowing the rarer questions.
      </p>
    </div>
  </li>
</ul>
