<h2>Index</h2>

{{outlet}}

<footer class="sc2iq-footer">
  <div class="container">
      {{#link-to "index.faqs" }}FAQs{{/link-to}}
      {{#link-to "index.contact" }}Contact{{/link-to}}
  </div>
</footer>
