<h2 id="title">Welcome to Ember</h2>

<nav>
  {{#link-to "index" }}Index{{/link-to}}
  {{#link-to "test" }}Test{{/link-to}}
  {{#link-to "questions" }}Questions{{/link-to}}
  {{#link-to "scores" }}Scores{{/link-to}}
  {{#link-to "polls" }}Polls{{/link-to}}
  {{#link-to "faqs" }}FAQs{{/link-to}}
  {{#link-to "contact" }}Contact{{/link-to}}
</nav>

{{outlet}}
