<button type="button" class="btn btn-primary btn-sm" {{action "incrementValue" bubbles=false}}>UP</button>
<span><b>{{value}}</b></span>
<button type="button" class="btn btn-warning btn-sm" {{action "decrementValue" bubbles=false}}>DOWN</button>
