<span class="sc2iq-votes">
  <span class="sc2iq-votes__spendable">{{votesSpendable}}</span>
  <span class="sc2iq-votes__divider">/</span>
  <span class="sc2iq-votes__total">{{votesTotal}}</span>
</span>
